html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Press Start 2P", cursive;
}

body {
  background-color: darkslateblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  position: relative;
  justify-self: center;
  top: 0;
}

.alert-section {
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: red;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 5px 10px black;
  font-size: 25px;
  font-weight: bolder;
  color: white;
  display: none;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.reset-div,
.reset-form {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px black;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 500px;
  background-color: beige;
}

button {
  margin: 5px;
  padding: 5px;
  width: fit-content;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 20px;
  font-family: "Press Start 2P", cursive;
  color: white;
}
.reset-button {
  background-color: red;
}
.login-btn {
  background-color: green;
}
label {
  position: relative;
  margin: 5px;
  padding: 5px;
}
input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  width: 500px;
  font-size: 20px;
}

button:hover {
  background-color: black;
  color: white;
}
h1 {
  text-align: center;
  color: white;
}

.hide {
  display: none;
}

.show {
  display: block;
}

@media screen and (max-width: 800px) {
  img {
    width: 350px;
  }
  .main-container {
    width: 75%;
    height: 100%;
  }

  .reset-div,
  .reset-form {
    width: 100%;
    height: 100%;
    margin: 50px;
    padding: 50px;
    gap: 30px;
    text-align: center;
  }
  input {
    width: 100%;
  }
  .alert-section {
    width: 100%;
    font-size: 25px;
  }
}
