html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Press Start 2P", cursive;
}

body {
  background-color: darkslateblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
  margin-top: 30px;
  color: blue;
  font-size: 16px;
}

img {
  position: fixed;
  top: 0;
}
.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 800px;
  height: 500px;
}
.alert-section {
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: red;
  margin: 20px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 5px;
  box-shadow: 0 5px 10px black;
  font-size: 25px;
  font-weight: bolder;
  color: white;
  display: none;
}

.main-container {
  display: flex;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px black;
}

.welcome-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 50%;
  height: 600px;
  background-color: beige;
  border-radius: 10px 0 0 10px;
}

.auth-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: rgb(184, 179, 215);
  border-radius: 0 10px 10px 0;
}

.login-div,
.signup-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
  height: fit-content;
  background-color: rgb(184, 179, 215);
  border-radius: 0 10px 10px 0;
  font-size: 20px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  width: 300px;
}

button {
  margin: 5px;
  padding: 5px;
  width: fit-content;
  border-radius: 5px;
  border: 1px solid black;
  background-color: beige;
  font-size: 20px;
  font-family: "Press Start 2P", cursive;
  color: white;
}
span {
  font-size: 10px;
}

button:hover {
  transform: translate3d(0, -2px, 0);
}

label {
  position: relative;
  margin: 5px;
  padding: 5px;
}

p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-btn {
  background-color: red;
}

.login-button,
.login-btn {
  background-color: green;
}

.hide {
  display: none;
}

.show {
  display: block;
}
